/**
Clamped font sizes, the range of font sizes is drawn from the Major second scale.
Generated based on a root font size of 16(px);
On a client width of 480 to 1200.
ie the min font size is applied until 576, then growing to hit the max at 1200

https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
https://xgkft.csb.app/

Using the 1rem as the 300 size, take 2 down and 3 up to create - initially - 6 sizes

Each clamped font size steps 1 up the scale. 2 steps might be better in some instances.
*/

$root-font-size: 16;

:root {
  font-size: $root-font-size;
}

// common to all at this stage
@mixin common() {
  font-weight: 400;
  line-height: 1.57;
}

@mixin fontSize-100() {
  @include common;

  // 12.64px - 14.22px
  font-size: clamp(0.79rem, 0.6986rem + 0.2538vw, 0.889rem);
}

@mixin fontSize-200() {
  @include common;

  // 14.22px - 16px;
  font-size: clamp(0.889rem, 0.7865rem + 0.2846vw, 1rem);
}

@mixin fontSize-300() {
  @include common;

  // 16 - 18px;
  font-size: clamp(1rem, 0.8846rem + 0.3205vw, 1.125rem);
}

@mixin fontSize-400() {
  @include common;

  // 18px - 20.25px
  font-size: clamp(1.125rem, 0.9948rem + 0.3615vw, 1.266rem);
}

@mixin fontSize-500() {
  @include common;

  // 20.25px - 22.78px
  font-size: clamp(1.266rem, 1.1202rem + 0.4051vw, 1.424rem);
}

@mixin fontSize-600() {
  @include common;

  // 22.78px - 25.63px
  font-size: clamp(1.424rem, 1.2597rem + 0.4564vw, 1.602rem);
}
