/**
 * all colours available to the application
 */
 $black: rgb(0, 0, 0);
 $white: rgb(255, 255, 255);

 $grey_lighter: rgb(232,232,232);
 $grey_light: rgb(211,211,211);
 $grey: rgb(128,128,128);
 $grey_dark: rgb(72,72,72);

 $cream: rgb(255, 247, 223);
 $orange: rgba(255, 188, 0, 1);
 $orange_mid: rgba(255, 197, 36, 1);
 $orange_light: rgba(255, 221, 126, 1);
 $orange_muted: rgba(255, 237, 190, 1);
 $orange_muted_opaque: rgba(255, 237, 190, 0);

 $red: #fb5638;
 $green: #a1c443;
