// Default breakpoints
// Lifted from Twiiter Bootstrap
// https://getbootstrap.com/docs/5.0/layout/breakpoints/

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;

@mixin screen-sm {
  @media only screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin screen-md {
  @media only screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin screen-lg {
  @media only screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin screen-xl {
  @media only screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin screen-2xl {
  @media only screen and (min-width: $breakpoint-2xl) {
    @content;
  }
}
